@model UsuariosTi.Business.ViewModels.ViewModelReportagensTi




    <div class="row" style="margin-top:170px">
        <div class="col-2"></div>
        <div></div>
        <div class="col-4" style="padding-left:0px; padding-right:0px;">
            <form id="form-pesquisa" style="width:95%; margin-left: 30px;" onsubmit="return false">
                <input placeholder="pesquisa" id="pesquisa" name="pesquisa" class="form-control" type="text" />
            </form>

        </div>
        <div class="col-1" style="padding-left:0px; padding-right:0px;">
            <button type="button" onclick="" style="" class="btn btn-success ml-1 btn-group-sm"><i class="fa fa-search"></i></button>
        </div>
        <div class="col-1"></div>
        <div class="col-2 botao-sugestao">Comente ou sugira novas dicas</div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-10 offset-1">
            <div class="row">
                @foreach (var item in Model.VW012_LISTA_DICASTIs.OrderByDescending(x => x.T065_DT_CADASTRO))
                {
                    <div class="col-4">
                        <div class="row p-2" style="background-color:#f9f9f9;border:5px solid #fff;">
                            <div class="col-12 p-0 position-relative" style="z-index:2;">
                                <a asp-action="DetalharReportagemTi" asp-route-idReportagem="@item.T065_ID">
                                    <img style="width:100%;height:14vw;cursor:pointer;" alt="Alternate Text" src="data:image/png;base64, @Convert.ToBase64String(item.T065_IMAG)" />
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>



<script>
    $("#filtrarDados").click(function () {
        $("#listarReportagensTi");
    });

    function detalharDestaque(idDestaque) {

    }
</script>




