@model IEnumerable<UsuariosTi.Business.Entities.T047_FERRAMENTA>

<style>
    @@-moz-document url-prefix() {
        .ondeEstamosImg {
            display: grid;
            width: 100.2%;
            height: 113vh;
            background: url(../imagens/Ferramentas/tela_fundo_ferramentas.jpg) no-repeat bottom center scroll;
            background-size: auto;
            background-size: cover;
            margin-right: 0px;
            margin-bottom: -2px;
            margin-left: -2px;
            overflow: hidden;
            z-index: 1;
            position: relative;
            -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 1%);
            -webkit-mask-image: linear-gradient(to top, transparent 0%, black 1%);
        }

        .TituloOndeEstamos {
            position: absolute;
            font-family: 'futurabt-medium';
            font-size: 5rem;
            font-weight: 500;
            color: #079e81;
            margin: 170px 0px 0px 230px;
        }

        #dvBotaoAcesseAgora {
            margin: 30px 0px 0px 0px;
        }

        .botao-link {
            background: #b2b2b2 0% 0% no-repeat padding-box;
            border-radius: 5px;
            opacity: 1;
            position: center;
            /*z-index: 2;*/
            /*left: 5%;*/
            font-size: 24px;
            color: #b2b2b2;
            padding: 0px;
            box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
            width: 400px;
            height: 50px;
            text-align: center !important;
        }

            .botao-link:hover {
                background: #8f9492 0% 0% no-repeat padding-box;
            }
    }

    .ondeEstamosImg {
        display: grid;
        width: 100.2%;
        height: 113vh;
        background: url(../imagens/Ferramentas/tela_fundo_ferramentas.jpg) no-repeat bottom center scroll;
        background-size: auto;
        background-size: cover;
        margin-right: 0px;
        margin-bottom: -2px;
        margin-left: -2px;
        overflow: hidden;
        z-index: 1;
        position: relative;
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 1%);
        -webkit-mask-image: linear-gradient(to top, transparent 0%, black 1%);
    }

    .TituloOndeEstamos {
        position: absolute;
        font-family: 'futurabt-medium';
        font-size: 5rem;
        font-weight: 500;
        color: #079e81;
        margin: -65px 0px 0px 145px;
    }

    #dvBotaoAcesseAgora {
        margin: 30px 0px 0px 0px;
    }

    .botao-link {
        background: #b2b2b2 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 1;
        position: center;
        /*z-index: 2;*/
        /*left: 5%;*/
        font-size: 24px;
        color: #b2b2b2;
        padding: 0px;
        box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        width: 400px;
        height: 50px;
        text-align: center !important;
    }

        .botao-link:hover {
            background: #8f9492 0% 0% no-repeat padding-box;
        }

    .btnVoltar_ferramentas {
        color: #079e81 !important;
        font-size: 23px;
        margin-left: 1332px;
        margin-top:15px;
    }

        .btnVoltar_ferramentas:hover {
            color: #079e81 !important;
            font-weight: bold;
            margin-left: 1332px;
            font-size: 23px;
            margin-top: 15px;
        }
</style>

<div id="pag-ondeEstamos" class="ondeEstamosImg" style="padding-bottom: 0px;padding-top: 0px;">

    <div class="container">
        <div class="row">
            <div class="col-6 btnVoltar_ferramentas">

                <a asp-action="Index" asp-controller="Home" class="btn" style="font-size:22px; background-color: white">Voltar</a>

            </div>
        </div>

        <div class="row">

            <div class="col-6 TituloOndeEstamos">
                <img src="~/imagens/Ferramentas/Ferramentas-title.png" style="width: 50%;" />

            </div>
                      
        </div>


    </div>


    <div class="col-12">
        <div class="container">
            <div class="row" style="margin-left: 20px; margin-top: 0px;">
                @foreach (var item in Model)
                {
                    <div class="col-6">
                        <div style="margin-right:20px; margin-top:20px; padding-top: 8px;" class="botao-link">
                            <a href="@item.T047_LINK" target="_blank"><span class="" style="font-family: 'futurabt-medium'; color: white;">@item.T047_NOME</span> </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
</div>