<div style="margin-top: 10px;">
    <form id="formCarousel" asp-action="SalvarCarousel" asp-controller="Home" method="Post">
        <input type="hidden" id="txtNuCarousel" />
        <input type="hidden" id="txtEditar" />

        <div class="row">
            <div class="col-3 form-group">
                <label>Status</label>
                <select class="form-control" id="selAtivoCarousel">
                    <option value="true">Ativo</option>
                    <option value="false">Inativo</option>
                </select>
            </div>
            <div class="col-3 form-group">
                <label>Ordem no Carrossel</label>
                <input type="number" class="form-control" id="txtOrdemCarousel" />
            </div>
        </div>

        <div class="row">
            <div class="col-3 form-group">
                <label>Exibir Botão</label>
                <select class="form-control" id="selBotaoCarousel">
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
            <div class="col-3 form-group">
                <label>Tipo do Botão</label>
                <select class="form-control" id="selTipoBotaoCarousel">
                    <option value="TODOS">TODOS</option>
                    <option value="GEAUS - 5356">GEAUS - 5356</option>
                    <option value="GEAUS - 7562">GEAUS - 7562</option>
                    <option value="CIAUS">CIAUS</option>
                </select>
            </div>
            <div class="col-6 form-group">
                <label>Texto do Botão</label><small class="caracteresBotao" style="margin-left: 20px;"></small>
                <input class="form-control" name="TextoBotaoCarousel" id="txtTextoBotaoCarousel"  />
            </div>
        </div>

        <div class="form-group">
            <label>Link do Botão</label>
            <input class="form-control" id="txtLinkBotaoCarousel" />
        </div>

        <div class="form-group">
            <label id="lblInserir">Inserir imagem</label><small> Dimensão: 1920x1082 pixels | Formato: *.PNG/*.JPG | Tamanho: 1mb</small>
            @*<label for="FileCarousel">
                <span type="button" class="btn btn-default">Procurar</span> Nenhum arquivo selecionado
            </label>*@
            <input type="file" class="form-control-file" id="FileCarousel" accept="image/png, image/jpeg" data-max-size="1000000" >
        </div>

        <div class="form-group">
            <label>Texto</label><small class="caracteres" style="margin-left: 20px;"></small>
            <textarea class="form-control" id="txtTextoCarousel" name="TextoCarousel" rows="5"></textarea>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success" id="btnSalvarCarousel">Salvar <i class="fa fa-check"></i> </button>
        </div>
    </form>
</div>
