<div class="table-responsive">
    <table class="table table-sm table-striped table-hover datatable" role="grid" id="tableCards" style="width:100%">
        <thead>
            <tr>
                <th style="width: 40px !important;">
                    Data
                </th>
                <th style="width: 80px !important;">
                    Arquivo
                </th>
                <th style="width: 80px !important;">
                    Anexo
                </th>
                <th style="width: 550px !important;">
                    Título
                </th>
                <th style="width: 200px;">
                    Matrícula/Nome
                </th>

                <th style="width: 35px; text-align: center;">
                    Editar
                </th>
                <th style="width: 35px; text-align: center;">
                    Excluir
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
