
@*@model Corretora.Business.ViewModels.Home.QuemSomos.QuemSomosViewModel*@
@{
    var auxQuebraQuem = 0;
}
<style>
    @@-moz-document url-prefix() {
        .quemSomosImg {
            background: url(/imagens/QuemSomos/quem-somos2.jpg);
            background-size: 100% 100%;
            width: 100%;
        }

        .Explicativa-Quem-Somos {
            background: #079e81;
            opacity: 1;
            box-shadow: -6px 5px 5px rgba(50, 50, 50, 0.77);
            width: 6.6%;
            height: 96px;
            position: absolute;
            z-index: 150;
            vertical-align: top;
            margin-left: 246px;
            margin-top: -275px;
            /*left:-30px;*/
        }

        .Explicativa-Quem-Somos-2 {
            background: #079e81 0% 0% no-repeat padding-box;
            opacity: 1;
            box-shadow: 9px 5px 5px rgba(50, 50, 50, 0.77);
            width: 33%;
            height: 96px;
            display: block;
            z-index: 151;
            position: absolute;
            transform: skew(35deg);
            margin-left: 300px;
            margin-top: -275px;
            /* left: -30px;*/
        }

        .textoex {
            font-weight: 500;
            font-size: 16px;
            color: black;
            margin-left: -115px;
            text-align: left;
            transform-origin: right;
            z-index: 152;
            position: absolute;
            margin-top: -275px;
            left: 382px;
        }

        .botao-quem-somos {
            background: #ff9100 0% 0% no-repeat padding-box;
            border-radius: 5px;
            opacity: 1;
            position: center;
            z-index: 05;
            font-size: 17px;
            color: white;
            text-align: center;
            box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
            height: 75px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

        .circulo {
            border-radius: 50%;
            height: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            margin-top: -50px;
        }

        .circulo-herdeiros-teste {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            /*position: absolute;*/
            margin-top: -26%;
        }
    }
    .quemSomosImg {
        background: url(/imagens/QuemSomos/quem-somos2.jpg);
        background-size: 100% 100%;
        width: 100%;
    }

    .Explicativa-Quem-Somos {
        background: #079e81;
        opacity: 1;
        box-shadow: -6px 5px 5px rgba(50, 50, 50, 0.77);
        width: 6.6%;
        height: 96px;
        position: absolute;
        z-index: 150;
        vertical-align: top;
        margin-left: 246px;
        margin-top: -240px;
        /*left:-30px;*/
    }

    .Explicativa-Quem-Somos-2 {
        background: #079e81 0% 0% no-repeat padding-box;
        opacity: 1;
        box-shadow: 9px 5px 5px rgba(50, 50, 50, 0.77);
        width: 34%;
        height: 96px;
        display: block;
        z-index: 151;
        position: absolute;
        transform: skew(35deg);
        margin-left: 300px;
        margin-top: -240px;
        /* left: -30px;*/
    }

    .textoex {
        font-weight: 500;
        font-size: 16px;
        color: black;
        margin-left: -115px;
        text-align: left;
        transform-origin: right;
        z-index: 152;
        position: absolute;
        margin-top: -240px;
        left: 382px;
    }
    .botao-quem-somos {
        background: #ff9100 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 1;
        position: center;
        z-index: 05;
        font-size: 17px;
        color: white;
        text-align: center;
        box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        height: 75px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .circulo {
        border-radius: 50%;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: -50px;
    }
    .circulo-herdeiros-teste {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        /*position: absolute;*/
        margin-top: -26%;
    }
</style>

<section id="pag-quemSomos" class="quemSomosImg" style="height:1000px; background-color:antiquewhite">
    <h1>Quem Somos</h1>

</section>





<script>
    function AbrirModalNossoTime(idModal) {
        $('#divModal').html('');
        //Carregando();
        $.post('/home/ChamarModaisDetalhamentoQuemSomos', { idModal: idModal }, function (retorno) {
            $('#divModal').html(retorno);
        }).done(function () {
            $('#modalQuemSomos').modal('show');
            /*   Carregado();*/
        });
    }
</script>

