
@{
    Layout = null;
    var user = this.GetUserCustom();
}

<style>

    #modalConfigCards .modal-content {
        background: #ededed;
        min-width: 60%;
        min-height: 500px;
        width: 1000px;
    }

    .icones {
        color: #ff9000;
        font-size: 3rem;
    }

    .boxcontato {
        padding-top: 20px;
        border-right: 2px solid #808080;
    }

    .boxespaco {
        margin-top: 20px;
    }

    .textoContato {
        font-size: 1.5rem;
        color: #808080;
        padding-left: 30px;
        margin-top: 8px;
    }

        .textoContato a {
            color: #ff9000 !important;
        }

    .textoForm {
        font-size: 1.5rem;
        color: #808080;
        margin-top: 8px;
    }
</style>
<div class="modal fade" id="modalConfigCards" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Configurações de Cards</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="dvListCards">
                    <div class="col-12">
                        <button class="btn btn-success" id="btnAddCards">Adicionar <i class="fa fa-plus"></i></button>
                    </div>
                    <div class="col-12">
                        @await Html.PartialAsync("_ListCards")
                    </div>
                </div>

                <div class="dvDadosCards" style="display: none;">
                    <div class="col-12">
                        <button class="btn btn-default" id="btnVoltarCards"><i class="fa fa-arrow-left"></i> Voltar</button>
                    </div>
                    <div class="col-12">
                        @await Html.PartialAsync("_FormCards")
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/lib/dataTables/datatables.min.js"></script>
<script>

    
    function ListarDicasTI() {

        $("#tableCards tbody").empty();
        //$("#tableUltimasAcoes").DataTable().clear();
        $("#tableCards").DataTable().destroy();

        $.ajax({
            url: "/Home/ListarDicasTI",
            type: 'POST',
            beforeSend: function () {
                //blockUI('');
            }
        }).done(function (data) {
            console.log(data);            

            var cols = "";

            if (data.length == 0) {
                cols += "<tr>";
                cols += "<td colspan=5 style='text-align: center; font-weight: bold;font-size:16px;'>Nenhum Registro Encontrado</td>";
                cols += "</tr>";
                $("#tableCards tbody").empty();
                $("#tableCards tbody").append(cols);
            } else {

                var tabela = $("#tableCards").DataTable(
                    {
                        paging: true,
                        ordering: false,
                        searching: true,
                        lengthChange: false,
                        fnInitComplete: function () {
                            $('#tableCards').show();
                            $('.overlay').hide();
                        },
                        columnDefs: [
                            { "width": "10%", "targets": 0 },
                            { "width": "20%", "targets": 1 },
                            { "width": "20%", "targets": 2 },
                            { "width": "50%", "targets": 3 },
                            { "width": "20%", "targets": 4 },
                            { "width": "10%", "targets": 5 },
                            { "width": "10%", "targets": 6 },                          
                        ],
                        language: {
                            "sEmptyTable": "Nenhum registro encontrado",
                            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ".",
                            "sLengthMenu": "_MENU_ resultados por página",
                            "sLoadingRecords": "Carregando...",
                            "sProcessing": "Processando...",
                            "sZeroRecords": "Nenhum registro encontrado",
                            "sSearch": "Pesquisar",
                            "oPaginate": {
                                "sNext": "Próximo",
                                "sPrevious": "Anterior",
                                "sFirst": "Primeiro",
                                "sLast": "Último"
                            },
                            "oAria": {
                                "sSortAscending": ": Ordenar colunas de forma ascendente",
                                "sSortDescending": ": Ordenar colunas de forma descendente"
                            }
                        }
                    }
                );
                tabela.clear().draw();

                for (var i = 0; i < data.length; i++) {

                    var botaoEditar = "<center><a class='btn bg-primary btn-sm' data-toggle='tooltip' data-id=" + data[i].t065_ID + " title='Editar' onclick='editarCards(this);'><i class='fas fa-edit' style='color: #ffffff;'></i></a></center>";
                    var botaoExcluir = "<center><a class='btn bg-danger btn-sm' data-toggle='tooltip' data-id=" + data[i].t065_ID + " title='Excluir' onclick='excluirCards(this);'><i class='fas fa-trash' style='color: #ffffff;'></i></a></center>";
                    
                    var dvTitulo = "<div style='margin-top: 5px;'>" + data[i].t065_TITULO + "</div>";
                    var dvArquivo = "<div style='margin-top: 5px;'>" + data[i].t065_NO_IMAGEM + "</div>";
                    var dvAnexo = "<div style='margin-top: 5px;'></div>";
                    var dvData = "<div style='margin-top: 5px;'>" + moment(data[i].t065_DT_CADASTRO).format('DD/MM/YYYY') + "</div>";
                    var dvResumo = "<div style='margin-top: 5px;'>" + data[i].t065_BREVE_DESCRICAO + "</div>";
                    var dvUsuario = "<div style='margin-top: 5px;'></div>";

                    if (data[i].t065_NO_ANEXO != null) {
                        dvAnexo = "<div style='margin-top: 5px;'>" + data[i].t065_NO_ANEXO + "</div>";
                    }

                    if (data[i].t065_MATRICULA !== null && data[i].t065_NOME !== null) {
                        dvUsuario = "<div style='margin-top: 5px;'><span>" + data[i].t065_MATRICULA + "/" + data[i].t065_NOME + "</span></div>";
                    }

                    tabela.row.add([dvData, dvArquivo, dvAnexo, dvTitulo, dvUsuario, botaoEditar, botaoExcluir]).draw(false);
                }
            }


        }).fail(function (error) {
            //erroAjax(error, function () { });
        });
    }

    function tamanhoArquivo() {
        var isOk = true;
        $('input[type=file][data-max-size]').each(function () {
            if (typeof this.files[0] !== 'undefined') {
                var fileInput = $('#FileCards');
                var maxSize = fileInput.data('max-size');
                size = this.files[0].size;
                isOk = maxSize > size;
                console.log(maxSize);
                console.log(size);
                return isOk;
            }
        });

        return isOk;
    }

    function salvarCards() {

        if ($("#txtTituloCards").val() === '') {
            fnMensagem('Digite o título do card.', 'warning');
            return;
        }

        if ($("#txtEditarCards").val() === 'salvar') {
            if ($("#FileCards").val() === '') {
                fnMensagem('Selecione uma imagem, campo obrigatório.', 'warning');
                return;
            }
        }

        if (tamanhoArquivo() != true) {
            fnMensagem('Tamanho do arquivo maior do que o esperado', 'warning');
            return;
        }
        //btnSalvarHistorico.attr('disabled', 'disabled');

        var $form = $('#formCards');
        var fdata = new FormData();

        var fileInput = $('#FileCards')[0];
        var fileDownload = $('#FileDownloadCards')[0];
        var file = fileInput.files[0];
        var fileDW = fileDownload.files[0];
        fdata.append("T065_ID", $("#txtIDCards").val());
        fdata.append("T065_TITULO", $("#txtTituloCards").val());                        
        fdata.append("T065_TEXTO", $("#txtTextoCards").val());
        fdata.append("T065_POSITIVO", $("#txtPositivoCards").val());
        fdata.append("T065_NEGATIVO", $("#txtNegativoCards").val());
        fdata.append("T065_VISUALIZACAO", $("#txtVisualizacaoCards").val());
        fdata.append("File", file);
        fdata.append("FileAnexo", fileDW);

        $.ajax({
            url: $form.attr('action'),
            type: 'POST',
            data: fdata,
            processData: false,
            contentType: false,
            success: function (data) {
                //console.log(data);

                fnMensagem('Operação realizada com sucesso!', 'success');

                ListarDicasTI();
                $(".dvListCards").show();
                $(".dvDadosCards").hide();
            }
        });        

    }

    function editarCards(el) {
        var $elemento = $(el);
        var dID = $elemento.attr('data-id');
        //console.log(dID);       

        $("#FileCards").val('');
        $("#FileDownloadCards").val('');

        $.ajax({
            url: "/Home/EditarCards",
            type: 'POST',
            data: { id: dID },            
            success: function (data) {
                //console.log(data);

                $(".dvListCards").hide();
                $(".dvDadosCards").show();

                $("#txtEditarCards").val('editar');
                $("#txtIDCards").val(data.t065_ID);
                $("#txtTituloCards").val(data.t065_TITULO);
                
                $("#txtTextoCards").val(data.t065_TEXTO);
                $("#txtPositivoCards").val(data.t065_POSITIVO);
                $("#txtNegativoCards").val(data.t065_NEGATIVO);
                $("#txtVisualizacaoCards").val(data.t065_VISUALIZACAO);
            }
        });

    }

    function excluirCards(el) {
        var $elemento = $(el),
            dID = $elemento.attr('data-id');

        var texto = "Essa operação não poderá ser desfeita.";

        Swal.fire({
            title: 'Deseja realmente excluir?',
            html: texto,
            type: 'warning',
            showCancelButton: true,
            showConfirmButton: true,
            focusCancel: true,
            confirmButtonColor: '#dc3545',
            cancelButtonColor: '#6c757d',
            confirmButtonText: 'Sim, excluir',
            cancelButtonText: 'Cancelar'
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                    dataType: 'json',
                    type: 'DELETE',
                    url: "/Home/DeletarCards",
                    data: { id: dID },
                    beforeSend: function () {
                        //blockUI('');
                    }
                }).done(function (data) {

                    fnMensagem('Operação realizada com sucesso!', 'success');
                
                    ListarDicasTI();
                    $(".dvListCards").show();
                    $(".dvDadosCards").hide();

                }).fail(function (error) {
                    //erroAjax(error, function () { });
                });
            }
        });
    }

    function fnMensagem(texto, icon) {
        Swal.fire({
            title: texto,
            html: '',
            type: icon,
            timer: 3000,
            showCancelButton: false,
            showConfirmButton: false,
            focusCancel: true,
            confirmButtonColor: '#dc3545',
            cancelButtonColor: '#6c757d',
            confirmButtonText: 'Sim',
            cancelButtonText: 'Cancelar'
        }).then(function (result) {

        });
    }

    $(function () {

        $(document).on("input", "#txtTituloCards", function () {
            var limiteCards = 40;
            var informativoCards = "caracteres restantes.";
            var caracteresDigitadosCards = $(this).val().length;
            var caracteresRestantesCards = limiteCards - caracteresDigitadosCards;

            if (caracteresRestantesCards <= 0) {
                var comentario = $("input[name=TituloCards]").val();
                $("input[name=TituloCards]").val(comentario.substr(0, limiteCards));
                $(".caracteresCards").text("0 " + informativoCards);
            } else {
                $(".caracteresCards").text(caracteresRestantesCards + " " + informativoCards);
            }
        });

        $("#btnSalvarCards").click(salvarCards);

        $("#btnAddCards").click(function () {
            $(".dvListCards").hide();
            $(".dvDadosCards").show();

            $("#txtEditarCards").val('salvar');
            $("#txtIDCards").val('');
            $("#txtTituloCards").val('');                                    
            $("#FileCards").val('');            
            $("#FileDownloadCards").val('');
            $(".caracteresCards").html('');
        });

        $("#btnVoltarCards").click(function () {
            $(".dvListCards").show();
            $(".dvDadosCards").hide();
        });        
      
    });
</script>
