@model IEnumerable<UsuariosTi.Business.Entities.T054_DIA_PLANTONISTA>
@{
    Layout = null;

}
<div class="col-6">



<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>Dia</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DIA?.ToString("dd/MM/yyyy")</td>
                <td><button onclick="excluirDia(@item.CO_DIA)" class="btn btn-default"><i class="fa fa-trash"></i></button></td>
            </tr>
        }
    </tbody>
</table>
</div>