.user-logged a{
    cursor: default;
}

.user-logged a:hover, 
.user-logged.open a{
    background: transparent !important;
    color: #ffffff !important;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-b-10 {
    margin-bottom: 10px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-b-25 {
    margin-bottom: 25px;
}

.margin-r-5 {
    margin-right: 5px;
}


/*Autocomplete*/
.autocomplete-suggestions {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

.autocomplete-group {
    padding: 2px 5px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}


/**************************************************************************
// Custom style checkbox
**************************************************************************/

/* Customize the label (the container) */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 25px;
    background-color: #dd4b39;
}

/* On mouse-over, add a background color */
.container-checkbox:hover input ~ .checkmark-checkbox {
    background-color: #00a65a;
}

.container-checkbox:hover input[disabled] ~ .checkmark-checkbox {
    background-color: #dd4b39;
    cursor: not-allowed;
}

.container-checkbox:hover input[disabled]:checked ~ .checkmark-checkbox {
    background-color: #00a65a;
    cursor: not-allowed;
}

/* When the checkbox is checked, add a background */
.container-checkbox input:checked ~ .checkmark-checkbox {
    background-color: #00a65a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark-checkbox:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark-checkbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/**************************************************************************
// Custom style checkbox
**************************************************************************/

/* Customize the label (the container) */
.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 28px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #dd4b39;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark-radio {
    background-color: #00a65a;
}

.container-radio:hover input[disabled] ~ .checkmark-radio {
    background-color: #dd4b39;
    cursor: not-allowed;
}

.container-radio:hover input[disabled]:checked ~ .checkmark-radio {
    background-color: #00a65a;
    cursor: not-allowed;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark-radio {
    background-color: #00a65a;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark-radio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark-radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}