
<section id="pag-cominicacao" class="pag-cominicacao section-bg" style="padding-bottom: 0px;padding-top: 0px;">
    <div class="row" style="height:75%">
        <div class="col-md-12">
            <img src="~/imagens/Comunicacao/IMG_FUNDO.png" style="width:100%;" />
            <img src="~/imagens/Comunicacao/TEXTO.png" class="img-texto"/>
            <a href="~/Comunicacao/BlocosComunicacao" target="_blank"><span class="botao-acessar-aqui">Acessar aqui</span></a>
        </div>
        <div class="col-md-12">
            <div class="footer-comunicacao row" style="margin-right: 0px;margin-left: 0px;">
                <div class="col-md-1"></div>
                <div class="col-md-1"><img src="~/imagens/LOGO_CAIXA_BRANCO.png" style="width:100%;" /></div>
                <div class="col-md-10" style="padding-top: 15px;"><span style="font-size:16px;color:#fff;">Caixa Econômica Federal. Todos os direitos reservados. 2020</span></div>
            </div>
        </div>
    </div>
</section>