
<div class="row detalha-atendimento" style="margin-right: 0px;margin-left: 0px;padding: 15px 10px;height:650px">
    <div class="col-md-12">
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-4"></div>
            <div class="col-md-4 offset-md-1" style="padding-right:30px;">
                <div class="row" style="background-color: #127a9c;padding: 10px 7px;border-radius: 10px;">
                    <div class="col-md-3">
                        <img src="~/imagens/Produtos_Servicos/ICONE_DETALHA_GOVERNACA.png" style="width:45%" />
                    </div>
                    <div class="col-md-9" style="color: #fff;font-size: 18pt;padding-left: 13%;">
                        Governança
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="row box-detalha-governanca">
                    <div class="col-md-5" style="line-height:180px;">
                        <img src="~/imagens/Produtos_Servicos/ICONE_IMG_FUNDO_GOVERNANCA.png" style="width:75%" />
                    </div>
                    <div class="col-md-7" style="padding-top:9%;">
                        <div class="row">
                            <div class="col-md-12" style="color: #fff;font-size: 16pt;padding-left: 0px;">
                                <label>Governança</label>
                            </div>
                            <div class="col-md-10" style="color: #fff;font-size: 16pt;border-bottom: 1px solid;padding-top: -10px;margin-top: -25px;">
                                <label></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="color:#fff;font-size: 11pt;padding-left: 0px;">
                                <span>Nossos Indicadores de governança.</span>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-md-12">
                        <a href="~/Home/Index?pagina=true">
                            <img src="~/imagens/Produtos_Servicos/BOTÃO VOLTAR.png" style="width: 20%;margin-top: 30px;margin-left: 10px;" />
                        </a>
                    </div>
                </div>*@
            </div>
            <div class="col-md-4 offset-md-1">
                <div class="row">
                    <div class="col-md-12" style="padding-right:30px;">
                        <div class="row">
                            <div class="col-md-12" style="background-color: #cecece;font-size: 15pt;padding: 15px;color:#6a6c77">
                                Informações e Números
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="background-color: #fff;font-size: 15pt;padding: 15px;color:#6a6c77;">
                                Desempenho / Alta Performance
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="background-color: #fff;font-size: 15pt;padding: 15px;color:#6a6c77;">
                                Padronização
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="background-color: #127a9c;font-size: 15pt;padding: 15px;color:#fff">
                                Gestão de Contratos
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="background-color: #fff;font-size: 15pt;padding: 15px;color:#6a6c77;">
                                162 Contratos
                            </div>
                            <div class="col-md-6" style="background-color: #fff;font-size: 11pt;padding: 20px 10px;color:#6a6c77;text-align:right">
                                Contratos de prestação e serviços de Manutenção de Equipamentos
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="background-color: #fff;font-size: 15pt;padding: 15px;color:#6a6c77;">
                                R$ 6,3 Bilhões
                            </div>
                            <div class="col-md-6" style="background-color: #fff;font-size: 11pt;padding: 20px 10px;color:#6a6c77;text-align:right">
                                Valor global de contrato geridos.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}
