
<div class="row detalha-atendimento" style="z-index:30;margin-right: 0px;margin-left: 0px;padding: 15px 10px;height:650px">
    <div class="col-md-12">
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="padding-right:30px;">
                <div class="row" style="background-color: #127a9c;padding: 10px 7px;border-radius: 10px;">
                    <div class="col-md-3">
                        <img src="~/imagens/Produtos_Servicos/ICONE_DETALHA_ATENDIMENTO.png" style="width:45%" />
                    </div>
                    <div class="col-md-9" style="color: #fff;font-size: 18pt;padding-left: 13%;">
                        Atendimento
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4" style="padding: 0 50px;">
                <div class="row box-detalha-atendimento">
                    <div class="col-md-5" style="line-height:180px;">
                        <img src="~/imagens/Produtos_Servicos/ICONE_IMG_FUNDO_ATENDIMENTO.png" style="width:75%" />
                    </div>
                    <div class="col-md-7" style="padding-top:9%;">
                        <div class="row">
                            <div class="col-md-12" style="color: #fff;font-size: 16pt;padding-left: 0px;">
                                <label>Atendimento</label>
                            </div>
                            <div class="col-md-10" style="color: #fff;font-size: 16pt;border-bottom: 1px solid;padding-top: -10px;margin-top: -25px;">
                                <label></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="color:#fff;font-size: 11pt;padding-left: 0px;">
                                <span>Nossos Indicadores de atendimento.</span>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-md-12">
                        <a href="~/Home/Index?pagina=true">
                            <img src="~/imagens/Produtos_Servicos/BOTÃO VOLTAR.png" style="width: 20%;margin-top: 30px;margin-left: 10px;" />
                        </a>
                    </div>
                </div>*@
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12"  style="padding-right:30px;">
                        <div class="row">
                            <div class="col-md-12" style="background-color: #cecece;font-size: 15pt;padding: 15px;color:#6a6c77">
                                Informações e Números
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="background-color: #fff;font-size: 15pt;padding: 15px;color:#6a6c77;">
                                Service Desk
                            </div>
                            <div class="col-md-6" style="background-color: #fff;font-size: 11pt;padding: 20px 10px;color:#6a6c77;text-align:right">
                                Benefícios
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="background-color: #fff;font-size: 15pt;padding: 15px;color:#6a6c77;">
                                1.7
                            </div>
                            <div class="col-md-6" style="background-color: #fff;font-size: 11pt;padding: 20px 10px;color:#6a6c77;text-align:right">
                                Milhões de atendimento/mês
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="background-color: #fff;font-size: 15pt;padding: 15px;color:#6a6c77;">
                                Economia no atendimento aos usuários
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="background-color: #fff;font-size: 15pt;padding: 15px;color:#6a6c77;">
                                Ganho em escala
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="background-color: #fff;font-size: 15pt;padding: 15px;color:#6a6c77;">
                                Padronização de atendimento
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="background-color: #fff;font-size: 15pt;padding: 15px;color:#6a6c77;">
                                Otimização do Atendimento Remoto
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="background-color: #fff;font-size: 15pt;padding: 15px;color:#6a6c77;">
                                Eficiência na Governança de Contratos
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="background-color: #fff;font-size: 15pt;padding: 15px;color:#6a6c77;">
                                24.789
                            </div>
                            <div class="col-md-6" style="background-color: #fff;font-size: 11pt;padding: 20px 10px;color:#6a6c77;text-align:right">
                                Ativos de Rede de TI
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12" style="padding: 0px 50px 0 30px;">
                        <div class="row">
                            <div class="col-md-12" style="background-color: #127a9c;font-size: 15pt;padding: 15px;color:#fff">
                                TELEFONIA
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="background-color: #fff;font-size: 15pt;padding: 15px;color:#6a6c77;">
                                2.3 Milhões
                            </div>
                            <div class="col-md-6" style="background-color: #fff;font-size: 11pt;padding: 20px 10px;color:#6a6c77;text-align:right">
                                Atendimentos  WEB, CHAT, 0800
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
