

<section id="pag-dicasTi" class="dicasTiImg">
    <div class="row">
        <div class="col-12">
           
            <img src="~/imagens/Dicas_TI/Background-sessão.svg" style="width:100%;height:95%;z-index:30;" />

            <label class="fonte-texto-dicas">
                Acesse aqui as dicas dos <br /> usuários de TI e deixe sua <br /> opinião.
            </label>
            <a asp-controller="ReportagensTi" asp-action="ListarReportagensTi" target="_blank"><span class="botao-acessar-aqui-rh">Acessar agora</span></a>
        </div>
    </div>
</section>