<link href="~/css/Paginas/Estrutura.css" rel="stylesheet" asp-append-version="true" />

<section style="margin-top:10px;" id="pag-estrutura" class="pag-estrutura section-bg">
    <div class="row">
        <div class="col-12">
            <div class="container" data-aos="fade-up">

                @*Cabeçalho*@
                <div class="row">
                    <div class="col-12">
                        <img src="~/imagens/Estrutura/ICONE_TITULO.png" style="width: 25%;  margin-bottom: 30px;" />
                    </div>
                </div>

                @*Gerência Nacional Atendimento Usuários TI*@
                <div class="row">
                    <div class="col-12 position-relative">
                        <div class="linha-horizontal"></div>
                        <div class="linha-horizontal-menor" style="left:34.5%;"></div>
                        <div class="linha-horizontal-menor" style="left:53%;"></div>
                        <div class="linha-horizontal-menor" style="right:28%;"></div>
                        <div class="linha-horizontal-menor" style="right:9.5%;"></div>
                        <div class="linha-vertial"></div>
                    </div>

                    <div class="col-3" style="z-index:5">
                        <div class="box-principal">
                            Gerência Nacional Atendimento Usuários TI
                        </div>
                    </div>

                    <div class="col">
                        <div class="box-gerencia-nacional texto-box-gerencia-nacional text-center" style="background: #148B92 0% 0% no-repeat padding-box;">
                            EXPERIÊNCIA DO USUÁRIO
                        </div>
                    </div>

                    <div class="col">
                        <div class="box-gerencia-nacional texto-box-gerencia-nacional text-center" style="background: #e57b25 0% 0% no-repeat padding-box;">
                            SERVICE DESK DE TI
                        </div>
                    </div>

                    <div class="col">
                        <div class="box-gerencia-nacional texto-box-gerencia-nacional text-center" style="background: #127a9c 0% 0% no-repeat padding-box;">
                            COLABORAÇÃO E SOFTWARES
                        </div>
                    </div>

                    <div class="col">
                        <div class="box-gerencia-nacional texto-box-gerencia-nacional text-center" style="background: #44beb1 0% 0% no-repeat padding-box;">
                            CANAIS
                        </div>
                    </div>
                </div>

                @*Centralizadora Nacional Atendimento Usuários TI*@
                <div class="row mt-3">
                    <div class="col-12 position-relative">
                        <div class="linha-vertial"></div>
                    </div>

                    <div class="col-3" style="z-index:5">
                        <div class="box-principal">
                            Centralizadora Nacional Atendimento Usuários TI
                        </div>
                    </div>

                    <div class="col">
                        <div style="max-height:120px;margin-top:10px;">
                            <div class="texto-box-unidades box-unidades text-center pt-3" style="height: 61px;background: #148B92 0% 0% no-repeat padding-box;">
                                <b>CEAUS01</b> - GESTÃO DE PESSOAS E CONTRATOS
                            </div>
                            <div class="texto-box-unidades box-unidades text-center pt-3" style="height: 61px;background: #148B92 0% 0% no-repeat padding-box;">
                                <b>CEAUS08</b> - PROJETOS E NOVAS SOLUÇÕES
                            </div>
                        </div> 
                    </div>

                    <div class="col">
                        <div style="max-height:120px;margin-top:10px;">
                            <div class="texto-box-unidades box-unidades text-center pt-3" style="height: 61px;background: #EB822D 0% 0% no-repeat padding-box;">
                                <b>CEAUS06</b> - ATENDIMENTO USUÁRIO
                            </div>
                            <div class="texto-box-unidades box-unidades text-center pt-3" style="height: 61px;background: #EB822D 0% 0% no-repeat padding-box;">
                                <b>CEAUS13</b> - GESTÃO DE PROCESSOS
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div style="max-height:120px;margin-top:10px;">
                            <div class="texto-box-unidades box-unidades text-center pt-2" style="height: 40px;background: #127A9C 0% 0% no-repeat padding-box;">
                                <b>CEAUS02</b> - INFRAESTRUTURA SOFTWARE LIVRE
                            </div>
                            <div class="texto-box-unidades box-unidades text-center pt-2" style="height: 40px;background: #127A9C 0% 0% no-repeat padding-box;">
                                <b>CEAUS04</b> - INFRAESTRUTURA DE COLABORAÇÃO
                            </div>
                            <div class="texto-box-unidades box-unidades text-center pt-2" style="height: 40px;background: #127A9C 0% 0% no-repeat padding-box;">
                                <b>CEAUS10</b> - PLATAFORMA DE SERVIÇOS DE TI
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div style="max-height:120px;margin-top:10px;">
                            <div class="texto-box-unidades box-unidades text-center pt-3" style="height: 61px;background: #44BEB1 0% 0% no-repeat padding-box;">
                                <b>CEAUS09</b> - ATENDIMENTO  &nbsp;&nbsp;CANAIS
                            </div>
                            <div class="texto-box-unidades box-unidades text-center pt-3" style="height: 61px;background: #44BEB1 0% 0% no-repeat padding-box;">
                                <b>CEAUS37</b> - ATENDIMENTO CANAL LOTÉRICO
                            </div>
                        </div>
                    </div>
                </div>

                @*Centralizadora Regional Serviços Usuários TI*@
                <div class="row mt-3">
                    <div class="col-12 position-relative">
                        <div class="linha-vertial"></div>
                    </div>

                    <div class="col-3" style="z-index:5">
                        <div class="box-principal">
                            Centralizadora Regional Serviços Usuários TI
                        </div>
                    </div>

                    <div class="col-9" style="margin-top:10px;">
                        <div class="row">
                            <div class="col">
                                <div class="box-ciaus">
                                    <a href="http://www.ciausbh.mg.caixa/" target="_blank">
                                        CIAUSBH
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-ciaus">
                                    <a href="http://www.ciausbr.df.caixa/" target="_blank">
                                        CIAUSBR
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-ciaus">
                                    <a href="http://www.ciausgo.go.caixa/" target="_blank">
                                        CIAUSGO
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-ciaus">
                                    <a href="http://www.ciausmn.am.caixa/" target="_blank">
                                        CIAUSMN
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="box-ciaus">
                                    <a href="http://www.ciauspo.rs.caixa/" target="_blank">
                                        CIAUSPO
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-ciaus">
                                    <a href="http://www.ciausre.pe.caixa/" target="_blank">
                                        CIAUSRE
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-ciaus">
                                    <a href="http://www.ciausrj.rj.caixa" target="_blank">
                                        CIAUSRJ
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-ciaus">
                                    <a href="http://www.ciaussp.sp.caixa/" target="_blank">
                                        CIAUSSP
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>