@model UsuariosTi.Business.ViewModels.ViewModelHome
@{
    var monitoracao = Model.T047_FERRAMENTAs.Where(x => x.T047_CO_CATEGORIA == 2);
    var gestao = Model.T047_FERRAMENTAs.Where(x => x.T047_CO_CATEGORIA == 1);
}
<link href="~/css/Paginas/Ferramentas.css" rel="stylesheet" asp-append-version="true" />

<section id="pag-ferramentas" class="pag-ferramentas">
    <div class="row">
        <div class="col-12 ">
            <div class="container">
                <div class="row p-2" style="border-bottom: 1px solid #e6e6e6;">
                    <div class="col-12">
                       @*<img src="~/imagens/Ferramentas/TITULO_PAGINA.png" class="w-25" />*@
                        <img src="~/imagens/Ferramentas/Ferramentas-title.png" class="w-25" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="row mt-3 mb-3">
                            <div class="col-12">
                                <img src="~/imagens/Ferramentas/ICONE_MAC_BOOK.png" class="w-60" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <img src="~/imagens/Ferramentas/ICONE_GESTAO.png" class="w-35"/>
                            </div>
                            <div class="col-12">
                                <table>
                                    <tbody class="fonte-ferramentas">
                                        @foreach (var item in gestao)
                                        {
                                            <tr class="curso-linha">
                                                <td class="border-bottom-gray" title="@item.T047_DESCRICAO">
                                                    <a href="@item.T047_LINK" target="_blank">@item.T047_NOME</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
