<section id="pag-portalRh" class="pag-portalRh section-bg" style="padding-bottom: 0px;padding-top: 0px;">
    <div class="row">
        <div class="col-12">
            <img src="~/imagens/PortalRh/portalRh.jpg" style="width:100%;height:95%;z-index:30;"/>
            @*<img src="~/imagens/Comunicacao/IMG_FUNDO.png" style="width:100%;" />
        <img src="~/imagens/Comunicacao/TEXTO.png" class="img-texto" />*@
            <label class="fonte-titulo-portal-rh"><span style="border-bottom: 4px solid #f97300;">Po</span>rtal RH</label>
            <label class="fonte-texto-portal-rh">
                No que podemos te <br />
                ajudar hoje?
            </label>
            <a href="https://portalrh.usuariosti.caixa/" target="_blank"><span class="botao-acessar-aqui-rh">Acessar aqui</span></a>
        </div>
    </div>
</section>