<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    .modal-dialog {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .modal-content {
        height: 100%;
        border-radius: 0;
    }
</style>
<section id="pag-produtos-servicos" class="pag-produtos-servicos section-bg" style="padding-bottom: 0px;padding-top: 0px;">
    <div class="row" style="height:75%">
        <div class="col-md-12">
            <img src="~/imagens/Produtos_Servicos/IMG_FUNDO.png" style="width:100%;" />
            <img src="~/imagens/Produtos_Servicos/TEXTO_IMG_FUNDO.png" class="img-texto-produtos-servicos" /> <br />
            <img src="~/imagens/Produtos_Servicos/Line 279@2x.png" class="img-separador" /> <br />
            <img src="~/imagens/Produtos_Servicos/TEXTO_ESPECIFICACAO_IMG_FUNDO.png" class="img-texto-especificacao-produtos-servicos" />
            <span class="buttom-canais" title="Conheça mais sobre o nosso canal de Canais">
                <img src="~/imagens/Produtos_Servicos/ICONE_IMG_FUNDO_CANAIS.png" style="width:63%;cursor:pointer;" data-toggle="modal" data-target="#exampleModal" />
            </span>
            <span class="buttom-atendimento" title="Conheça mais sobre o nosso canal de Atendimento">
                <img src="~/imagens/Produtos_Servicos/ICONE_IMG_FUNDO_ATENDIMENTO.png" style="width:63%;cursor:pointer;" data-toggle="modal" data-target="#exampleModal" />
            </span>
            <span class="buttom-governanca" title="Conheça mais sobre o nosso canal de Governança">
                <img src="~/imagens/Produtos_Servicos/ICONE_IMG_FUNDO_GOVERNANCA.png" style="width:63%;cursor:pointer;" data-toggle="modal" data-target="#exampleModal" />
            </span>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document" style="max-width: 1400px;">
            <div class="modal-content" style="height: 750px;">
                <div class="modal-body ">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                @await Html.PartialAsync("_DetalhaCanais")
                            </div>
                            <div class="item">
                                @await Html.PartialAsync("_DetalhaAtendimento")
                            </div>
                            <div class="item">
                                @await Html.PartialAsync("_DetalhaGovernaca")
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Próximo</span>
                        </a>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</section>

